<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styles.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/bootstrap.css')}}">

        <link rel="shortcut icon" href="../static/assets/cricket_icon.ico" />

        <script src="{{url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta charset="UTF-8">
        <title>
            Cric AI
        </title>
    </head>

    <body>
                        
        <div class="container-fluid">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ul>
                    
                    <!-- The slideshow -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="../static/assets/carousel_1.jpg" alt="1" width="1100" height="500">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/carousel_2.jpg" alt="2" width="1100" height="500">
                      </div>
                      <div class="carousel-item">
                        <img src="../static/assets/carousel_3.jpg" alt="3" width="1100" height="500">
                      </div>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                      <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                      <span class="carousel-control-next-icon"></span>
                    </a>
                  </div>

                  <h1 class="display-4 heading" align="center">CricAI: Smart Outcome Prediction System</h1>

            <form method="post">
                <div class="row top-row">
                        <div class="col-md-4">
                                <select id="team-1" name="team1" class="btn btn-outline-primary" required>
                                        <option value="">Select Team 1</option>
                                </select>
                        </div>

                        <div class="col-md-3">
                                <select id="innings" name="innings_t1" class="btn btn-outline-primary" required>
                                        <option value="">Select Innings(Team 1)</option>
                                        <option value="1">First</option>
                                        <option value="2">Second</option>
                                </select>
                        </div>

                        <div class="col-md-2">
                                <select id="venue" name="venue_t1" class="btn btn-outline-primary" required>
                                        <option value="">Select Venue(Team 1)</option>
                                        <option value="1">Home</option>
                                        <option value="2">Away</option>
                                        <option value="3">Neutral</option>
                                </select>
                        </div>

                        <div class="col-md-3">
                                <select id="groundid" name="ground" class="btn btn-outline-primary" required>
                                        <option value="">Select Ground</option>
                                </select>
                        </div>

                </div>

                <div class="row bottom-row">
                        <div class="col-md-4">
                                <select id="team-2" name="team2" class="btn btn-outline-primary" required>
                                        <option value="">Select Team 2</option> 
                                </select>                      
                        </div>

                        <div class="col-md-8">
                                <select id="choice" name="choice" class="btn btn-outline-primary" required>
                                        <option value="">Choose Classifier</option>
                                        <option value="1"> SVM Classifier </option>
                                        <option value="2"> DT Classifier </option>
                                        <option value="3"> MLP Classifier </option>
                                </select>  
                        </div>
                </div>
                
                
                <div class="col-md-12 submitButton" align='center'>
                        <input type="submit" value="Run Model" class="btn btn-success">
                </div>   
            </form>     
</div>
    </body>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</html>